*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#myChart{
  width: 100%;
  max-width: 800px;
}

body{
}