main{
    flex-direction: column;
}
section{
}
/* Header */
.header_nav {
    padding: 5px;
    justify-content: space-between;
}

.header_nav img {
    width: 30px;
    padding: 2px;
}
.nav_drop_menu,
.nav_brand,
.nav_srch_cart,
.header_nav button,
section.explore,
section.explore header,
section.explore header h2
section.explore a,
section.explore ul,
section.explore ul li,
section.explore div{
    display: flex;
}

.nav_drop_menu,
.nav_brand,
.nav_srch_cart,
.header_nav button {
    align-items: center;
    height: 100%;
}

.nav_drop_menu {}

.nav_brand {}

.nav_srch_cart {}

/* Section  Hero */
section.hero {
    width: 100%;
    position: relative;
    overflow: hidden;
}

section.hero .hero_content,
section.hero .hero_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}

.hero_content_containers {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.hero_content_containers h2,
.hero_content_containers p {
    color: var(--bgc-white);
}

.hero_content_containers h2 {
    font-size: 10vw;
}

.hero_content_containers p {
    font-size: 3.5vw
}

.hero_content_containers button {
    margin: 20px 0 20px 0;
    font-size: 3vw
}
.hero_content_containers button:hover,
.hero_content_containers button:hover,
.hero_content_containers button:focus {
    background-color: var(--bgc-black);
    color: var(--bgc-white);
}

.hero_content_containers button {
    background-color: var(--bgc-white);
    padding: 16px 30px;
    width: fit-content;
    border-radius: 999px;
}

/* Section Explore */

section.explore{
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
section.explore header,
section.explore .explore_ul,
section.explore .explore_ul li,
section.explore .explore_ul li a
{
    display: flex;
    width: 100%;
}
section.explore header{
    min-height:  120px;
    max-height: 400px;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}
section.explore .explore_ul{
    flex-direction: column;
}
section.explore .explore_ul a{
    min-height: 50px;
    gap: 10px;
}

section.explore .explore_ul li a div{
    display: flex;
    align-items: center;
    max-height: 100px;
}
section.explore .explore_img:hover{
    opacity:85%;
}
section.explore .explore_p{
    border-bottom: 1px solid var(--bgc-black-extra-transp);
    border-top: 1px solid var(--bgc-black-extra-transp);
    width: 100%;
    font-size: 2.8vw;
}
section.explore .explore_ul li a div img{
    width: 100%;
    height: 100%;
}
/* New Section */
section.new_section,
.new_section_product,
section.new_section header,
section.new_section header h2,
section.new_section header p,
section.new_section .new_section_content,
.new_section_content_shopping,
.new_section_content_favorite{
    display: flex;

}
section.new_section{
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 10px;
}
section.new_section header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:  120px;
    max-height: 400px;   
}

section.new_section header h2{
    font-size: 5vw;
}
section.new_section header p{
    font-size: 4vw;
    color: var(--bgc-black-light-tranp);
}
section.new_section .new_section_product{
    position: relative;
    width: 100%;
    overflow: hidden;
}
section.new_section .new_section_product img{
    width: 100%;
}
section.new_section h3{
    padding: 5px;
    color: var(--bgc-white);
    position: absolute;
    bottom: 50px;
    font-size: 4vw;
}

section.new_section .new_section_content{
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section.new_section .new_section_content div{
    width: 50%;
}

section.new_section .new_section_content img,
section.new_section .new_section_content_favorite img{
    width: 14px;
}

.new_section_content_shopping,
.new_section_content_favorite{
    padding: 3px;
    gap: 10px;
}
.new_section_content_shopping a,
.new_section_content_favorite a{
    justify-content: center;
    align-items: center;
    background-color: var(--bgc-white-transp);
    padding: 6px 10px;
    width: fit-content;
    border-radius: 999px;
}

.new_section_content_shopping a:hover,
.new_section_content_favorite a:hover{
    background-color: var(--bgc-black-light-tranp);
}

/* section_hot_sellers */
.section_hot_sellers,
.section_hot_sellers header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.section_hot_sellers{
    padding: 10px;
}
.section_hot_sellers header{
    justify-content: center;
    align-items: center;
    min-height:  120px;
    max-height: 400px;
}
.section_hot_sellers header h2{
    font-size: 6vw;
}
.section_hot_sellers header p{
    font-size: 4vw;
    color: var(--bgc-black-light-tranp);
}

/* section_tech_ready */
.section_tech_ready,
.section_tech_ready header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.section_tech_ready{
    padding: 10px;
}
.section_tech_ready header{
    justify-content: center;
    align-items: center;
    min-height:  120px;
    max-height: 400px;
}
.section_tech_ready header h2{
    font-size: 6vw;
}
.section_tech_ready header p{
    font-size: 4vw;
    color: var(--bgc-black-light-tranp);
}

@media (width > 500px) {
    .hero_content_containers button {
        font-size: 2vw
    }
    section.explore header h2{
    font-size: 3vw;
    }
    section.explore .explore_p{
    font-size: 2.3vw;
    }
    section.new_section h3{
    font-size: 3vw;
    }
    section.new_section h3{
    font-size: 2.5vw;
    }

}

@media(width > 800px) {
    .hero_content_containers button {
        font-size: 1.4vw
    }
    section.explore .explore_p{
    font-size: 2vw;
    }

}