/* Header section */
header img{
    height: 24px;
}
header{
    align-items: center;
    padding: 8px;
}
header nav,
.header_nav_logo,
.header_nav_ul,
.header_nav_ul ul,
.header_nav_user_tools{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%
}
header nav{
    justify-content: space-between;
}
.header_nav_ul ul{
    gap: 16px;
}
.header_nav_user_tools{
    gap: 8px;
}
/* Defaulth hidden on movile */
.header_nav_ul,
.div_user_tool:nth-child(2){
    display:none;
}
/* dropdown menu overlay */
.dropdown_menu_container,
.dropdown_menu_container button,
.dropdown_menu,
.dropdown_menu header,
.dropdown_menu_ul,
.dropdown_menu_ul ul,
.dropdown_menu_ul ul li,
.dropdown_user_tools,
.dropdown_user_tools ul,
.dropdown_user_tools ul li{
    display: flex;
}
.dropdown_menu_container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 54, 68, 0.78);
}
.dropdown_menu_container img{
    height: 16px;
}
.dropdown_menu{
    width: clamp(200px, 50%, 400px); /*Min, prefered, Max */
    background-color: var(--bgc-white);
    flex-direction: column;
}
.dropdown_menu header{
    justify-content: space-between;
    border-bottom: 1px solid var(--bgc-black-transp);
}
.dropdown_menu_ul{
    background-color: var(--bgc-black-extra-transp-x2);
    padding: 16px;
}
.dropdown_menu_ul ul{
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.dropdown_menu_ul ul li,
.dropdown_menu_ul ul li button{
    align-items: center;
    justify-content: space-between;
}
.dropdown_user_tools{
    margin-top: 200px;
}
.dropdown_user_tools ul{
    flex-direction: column;
    width: 100%;
    gap: 8px;
}
.dropdown_user_tools ul li{
    gap: 8px;
}