*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html{
  width: 100%;
  height: 100%;
}
body,
main,
form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
body{
  background-color: rgb(7, 7, 7);
}
main{
  justify-content:center;
  align-items: center;
  padding: 10px;
}
main *{
  font-family: monospace;
}
h1{
  color: white;
  padding: 10px;
}
form{
  gap: 15px;
  padding: 20px;
  width: clamp(300px,40vw,600px);
  height: 90%;
  background-color: rgb(38, 37, 37);
  border-radius: 20px;
}
form *{
  font-size: 1.5rem;
}
form input[type="text"]{
  border-radius: 999px;
  padding: 4px;
  background-color: rgb(61, 61, 61);
  color: black;
  border: none;
  outline: none;
}
/* En tu archivo style.css */
#suggestion {
    color: white; /* O cualquier color que contraste */
    font-weight: bold; /* Para hacerlo más visible */
    margin-top: 5px; /* Separación del input */
}